
    <div class="row">
      <div class="col">
        <form (ngSubmit)="onSubmit()">
          <h2>Añade una nueva categoria:</h2>
            <label for="nombre">Nombre de la categoria</label>
            <input class = "form-control" [(ngModel)]="categoria.cat_nombre" type="text" id="nombre" name="nombre" required>    
            <label for="descripcion">Descripción de la categoria</label>
            <input class = "form-control" [(ngModel)]="categoria.cat_descripcion" type="text" id="descripcion" name="descripcion" required>  
            <button class="uno" (click)="guardarCategoria" type="submit">Guardar</button>
            <button class="dos" (click)="cancelar" type="submit">Cancelar</button>
          </form>      
      
      </div>
    </div>


    