<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a routerLink = "categorias" class="nav-link active" aria-current="page" class="nav-link active" aria-current="page" href="#">REGISTRAR CATEGORIA</a>
            </li>
          <li class="nav-item dropdown">
            <a routerLink = "listado" class="nav-link active" aria-current="page" class="nav-link active" aria-current="page" href="#">PRODUCTO CATEGORIAS</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Carrito</a>
          </li>
          <div class="mio">
          <li class="nav-item">
            <a class="enlace" href="https://hazeperu.com/inciensos/historia/">Cultura</a>
          </li>
        </div>
        <div class="magia">
          <li class="nav-item">
            <a class="enlace" href="https://www.nca.cl/blog/post/99_la-magia-de-los-inciensos-y-el-significado-segun-sus-olores">Magia del incienso</a>
          </li>
        </div>
        </ul>
      </div>
    </nav>
  </header>