<h2>Listado de categorías</h2>
<form ></form>
<table >
<thead >
   <tr>
      <th>ID </th>
      <th>NOMBRE</th>
      <th>DESCRIPCIÓN DE LA CATEGORIA</th>
   </tr>
</thead>
<tbody>

  <tr *ngFor="let categoria of lCategorias;">
   <td>{{categoria.id_categoria}}</td>
   <td>{{categoria.cat_nombre}}</td>
   <td>{{categoria.cat_descripcion}}</td>
   <td><button class="btn btn-success ml-5" (click)="mostrarDialogo(categoria.id_categoria)"> ELIMINAR</button></td>
   <td><button class="btn btn-danger ml-5" (click)="updateCategoria(categoria.id_categoria)">EDITAR</button></td>
 
 </tr>
</tbody>
</table>
<footer>
</footer>
