h2{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    margin-top: 30px;
    text-transform: none;
    margin-left: 190px;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 2px rgba(108,255,248,0), 2px 2px 2px rgba(108,255,248,0);

}
.uno{
    margin-top: 20px;
}
th{
    font-family:'Oswald', sans-serif !important;
    font-size: 18px !important;
    color:white;
    margin-left: 18px;
    text-shadow: 3px 5px 2px #11ddad, 2px 2px 2px rgb(238, 243, 243);
}

td{
    font-size: 13px !important;
    color:white!important;
    
}

thead{
    background-color: transparent !important;
    align-items: center;
}

table{
    width: 70%;
    margin:auto;

}

button{
    background-color:transparent !important;
    color: white !important;
    float: right;
    border-color: white!important;
    border-radius: 10px !important;
    border-width: 1px;
    font-family:'Oswald', sans-serif !important;
    font-size: 13px !important;
    padding: 5px 10px;
  }
  footer{
    margin-top: 20px;

  }